{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Repositorio de Certificados PDF de CENDITEL">
    <meta name="author" content="Ing. Argenis Osorio">
    <title>
        {% block title %}Repositorio de Certificados PDF de CENDITEL{% endblock %}
    </title>
    <!-- Load Favicon -->
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    <!-- Load Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Own styles -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <img
        src="{% static 'images/cintillo_2025.webp' %}"
        alt="imagen_cintillo"
        class="img-fluid w-100"
    >

    <!-- Navbar -->
    {% include "certificate/partials/navbar.html" %}
    <!-- Final de Navbar -->

    <!-- Messages -->
    {% include "certificate/partials/messages.html" %}
    <!-- Final de messages -->

    <!-- Content -->
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
    <!-- Final de Content -->

    <!-- Footer -->
    {% include "certificate/partials/footer.html" %}
    <!-- Final de Footer -->

    <!-- Load Bootstrap JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script>
        /* Código para hacer rotar del logo del footer cada 15seg */
        const logo = document.querySelector('.img-footer');

        function rotateLogo() {
            // Agregar la clase para iniciar la animación
            logo.style.transition = 'transform 1s ease-in-out';
            logo.style.transform = 'rotate(360deg)';

            // Reiniciar la rotación después de 1 segundo
            setTimeout(() => {
                logo.style.transition = 'none';
                logo.style.transform = 'rotate(0deg)';
            }, 1000);
        }

        // Ejecutar la rotación cada 15 segundos
        setInterval(rotateLogo, 15000);
    </script>
</body>
</html>
